
h4 {
	color: #E0FFFF;
}

.banner-img img {
	filter: drop-shadow(3px 3px 4px white);
}

.nav-link{
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.nav-item {
    padding-right: 20px;
}
.nav-item a{
    color: white;
	transition: 0.8s;
    text-shadow: 1px 1px 2px white;
}
.nav-item a:hover{
    font-size: 1.2rem;
	transition: 1s;
	color: #E0FFFF;
}

.nav-item a:active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Adjust as needed */
    background-color: #004792;
	transition: 1s;
}


.about-detail {
	padding-top: 35%;
	padding-bottom: 100px;
}
.about-detail h5 {
	font-size: 40px;
	margin-bottom: 15px;
	color: white;
	font-weight: 400;
	text-shadow: 1px 1px 2px #5D8AA8;
}
.about-detail h1 {
	font-size: 58px;
	margin-bottom: 10px;
	color: white;
	font-weight: bolder;
	text-shadow: 1px 1px 2px #5D8AA8;
}
.about-detail p {
	font-size: 22px;
	color:white;
	line-height: 28px;
	text-shadow: 1px 1px 2px #5D8AA8;
}
.typing {
	position: relative;
	width: fit-content;
	padding-right: 20px;
	text-shadow: 1px 1px 2px #B2FFFF;
}
.typing::after {
	content: "|";
	position: absolute;
	right: 0;
	width: 100%;
	background: #082567;
	animation: typing 6s steps(22) infinite, caret 1s infinite;
}
@-webkit-keyframes typing {
	to {
		width: 0;
	}
}
@keyframes typing {
	to {
		width: 0;
	}
}
@keyframes caret {
	50% {
		color: transparent;
	}
}
@media screen and (max-width:768px) {
	.about-detail h5 {
		font-size: 25px;
	}
	.about-detail h1 {
		font-size: 38px !important;
	}
}
@media screen and (max-width:500px) {
	.about-detail {
		padding-top: 15%;
		padding-bottom: 60px;
	}
	.about-detail h5 {
		font-size: 20px;
	}
	.about-detail h1 {
		font-size: 35px !important;
		margin-bottom: 5px !important;
	}
}
.banner-img {
	position: relative;
	width: 100%;
	height: 100vh;
}
.banner-img img {
	position: absolute;
	bottom: 0px;
	width: 90%;
}
@media screen and (max-width:795px) {
	.banner-img {
		height: 100%;
	}
}
@media screen and (max-width:500px) {
	.banner-img {
		height: auto;
	}
	.banner-img img {
		position: relative;
	}
}

/* about-section */
.bg-color {
	background-color:  #082567;
}
.about-left img {
	width: 100%;
}
.about-right {
	padding-top: 80px;
	padding-bottom: 80px;
}
.about-right h2 {
	font-size: 35px;
	color: white;
	font-weight: 600;
	margin-bottom: 10px;
}
.about-right h6 {
	color: gray;
	font-size: 20px;
	margin-bottom: 25px;
}
.about-right p {
	color: white;
	line-height: 35px;
	font-size: 16px;
	margin-bottom: 50px;
	letter-spacing: 0.2px;
	word-spacing: 0.5px;
}
table th{
	color: whitesmoke;
	text-decoration: underline;
}
table td {
    color: white;
    /* Add any other styles for table cells and headers here */
}
.about-right p span {
	color: white;
	font-weight: 600;
	border-bottom: 3px solid red;
}
.about-right table tr td {
	padding: 10px;
}
@media screen and (max-width:768px) {
	.about-right table tr td,
	.about-right table tr th {
		padding: 10px 0px;
		font-size: 13px;
	}
}
@media screen and (max-width:500px) {
	.about-right table tr td,
	.about-right table tr th {
		padding: 10px;
		font-size: 16px;
	}
}
.skill {
    background-color: #B2FFFF;
    margin: 20px auto;
    color: black;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) , 0 10px 10px rgba(0, 0, 0, 0.22);
    
}
.bar {
    background: #EAF4FC;
    display: block;
    height: 20px;
    border: 0.2px solid black;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 18px;
    float: left;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,193,233,1) 100%);
}
.qul-ful{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F1F9EC;
}
.qul {
    background-color: #ECF3F9;
}

.html5 {
    width: 80%;
    animation: html5 3s;
}
.CSS3 {
    width: 75%;
    animation: CSS3 3s;
}

.JAVASCRIPT {
    width: 50%;
    animation: JAVASCRIPT 3s;
}

.BOOTSTRAP5 {
    width: 70%;
    animation: BOOTSTRAP5 3s;
}
.PHP {
    width: 70%;
    animation: html5 3s;
}
.MY_SQL {
    width: 65%;
    animation: html5 3s;
}
.LARAVEL {
    width: 50%;
    animation: html5 3s;
}
.PYTHON {
    width: 60%;
    animation: html5 3s;
}


.C {
    width: 60%;
    animation: C 3s;
}

@keyframes html5 {
    0%{
        width: 0%;
    }    
    100%{
        width: 80%;
    }
}
@keyframes CSS3 {
    0%{
        width: 0%;
    }    
    100%{
        width: 75%;
    }
}
@keyframes JAVASCRIPT {
    0%{
        width: 0%;
    }    
    100%{
        width: 50%;
    }
}
@keyframes BOOTSTRAP5 {
    0%{
        width: 0%;
    }    
    100%{
        width: 70%;
    }
}
@keyframes PHP {
    0%{
        width: 0%;
    }    
    100%{
        width: 70%;
    }
}
@keyframes MY_SQL {
    0%{
        width: 0%;
    }    
    100%{
        width: 65%;
    }
}
@keyframes LARAVEL {
    0%{
        width: 0%;
    }    
    100%{
        width: 50%;
    }
}
@keyframes PYTHON{
    0%{
        width: 0%;
    }    
    100%{
        width: 60%;
    }
}
@keyframes C {
    0%{
        width: 0%;
    }    
    100%{
        width: 60%;
    }
}

h5 {
    font-size: 1rem;
}

.service-section {
	width: 100%;
	border: none;
	background: white;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
	padding: 55px 40px;
	text-align: center;
	margin-bottom: 30px;
	float: left;
}
.service-section img {
	height: 105px;
	margin-bottom: 15px;
	padding: 0px;
}
.service-section h6 {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 600;
	color: black;
}
.service-section p {
	line-height: 30px;
	font-size: 15px;
}
.service-section ul,li{
	text-align: left;
}
.service-border {
	text-align: center;
	justify-content: center;
	display: flex;
}
.service-border span {
	border: 1px solid red;
	width: 11%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.service-section {
		padding: 20px 20px;
	}
}
@media screen and (max-width:500px) {
	.service-section {
		padding: 20px 20px;
	}
}

.pro-box {
	box-shadow: 2px 2px 3px yellow;
	border-radius: 20px;
	padding-top: 20px;
  	/* padding: 5px; */
  	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  	background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
	transition: 0.5s;
}

.pro-box:hover{

	transform: translateY(-7px);
  box-shadow: 0px 10px 10px white;
  transition: 1s;
}

/*********FOOTER SECTION FOOTER SECTION FOOTER SECTION *********/
.footer {
	background: black;
	padding: 20px 0px 5px 0px;
}
.footer p {
	color: white;
	text-align: right;
}
.footer-section i {
	font-size: 30px;
	margin-right: 10px;
    padding-left: 50px;
	color: white;
}
.footer-section i:hover{
    text-shadow: 2px 2px 2px white,2px 2px 2px white;
    color: blue;
}
@media screen and (max-width:500px) {
	.footer-section {
		text-align: center !important;
	}
	.footer p {
		text-align: center;
	}
}
ul {
	list-style: none;
  }
  
  .example-2 {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .example-2 .icon-content {
	margin: 0 10px;
	position: relative;
  }
  .example-2 .icon-content .tooltip {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	padding: 6px 10px;
	border-radius: 5px;
	opacity: 0;
	visibility: hidden;
	font-size: 14px;
	transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
	opacity: 1;
	visibility: visible;
	top: -50px;
  }
  .example-2 .icon-content a {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #4d4d4d;
	background-color: #fff;
	transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
	box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
	position: relative;
	z-index: 1;
	width: 30px;
	height: 30px;
  }
  .example-2 .icon-content a:hover {
	color: white;
  }
  .example-2 .icon-content a .filled {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #000;
	transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
	height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
	background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
	background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
	background: linear-gradient(
	  45deg,
	  #405de6,
	  #5b51db,
	  #b33ab4,
	  #c135b4,
	  #e1306c,
	  #fd1f1f
	);
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
	background-color: #ff0000;
  }
  

  
  
  