

.nav-link{
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #E0FFFF;
    letter-spacing: 1px;
}

.nav-item {
    padding-right: 20px;
}
.nav-item a{
    color: #007FFF;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    transition: 1s;
    
}
.nav-item a:hover{
    font-size: 1.2rem;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: 1s;
    
}
.about-detail {
	padding-top: 35%;
	padding-bottom: 100px;
}
.about-detail h5 {
	font-size: 40px;
	margin-bottom: 15px;
	color: #004792;
	font-weight: 400;
}
.about-detail h1 {
	font-size: 58px;
	margin-bottom: 10px;
	color: #004792;
	font-weight: bolder;
}
.about-detail p {
	font-size: 22px;
	color:#004792;
	line-height: 28px;
}
.typing {
	position: relative;
	width: fit-content;
	padding-right: 20px;
}
.typing::after {
	content: "|";
	position: absolute;
	right: 0;
	width: 100%;
	background: white;
	animation: typing 6s steps(22) infinite, caret 1s infinite;
}
@-webkit-keyframes typing {
	to {
		width: 0;
	}
}
@keyframes typing {
	to {
		width: 0;
	}
}
@keyframes caret {
	50% {
		color: transparent;
	}
}
@media screen and (max-width:768px) {
	.about-detail h5 {
		font-size: 25px;
	}
	.about-detail h1 {
		font-size: 38px !important;
	}
}
@media screen and (max-width:500px) {
	.about-detail {
		padding-top: 15%;
		padding-bottom: 60px;
	}
	.about-detail h5 {
		font-size: 20px;
	}
	.about-detail h1 {
		font-size: 35px !important;
		margin-bottom: 5px !important;
	}
}
.banner-img {
	position: relative;
	width: 100%;
	height: 100vh;
}
.banner-img img {
	position: absolute;
	bottom: 0px;
	width: 90%;
}
@media screen and (max-width:795px) {
	.banner-img {
		height: 100%;
	}
}
@media screen and (max-width:500px) {
	.banner-img {
		height: auto;
	}
	.banner-img img {
		position: relative;
	}
}

/* about-section */
.bg-color {
	background-color: #eaedf2;
}
.about-left img {
	width: 100%;
}
.about-right {
	padding-top: 80px;
	padding-bottom: 80px;
}
.about-right h2 {
	font-size: 35px;
	color: black;
	font-weight: 600;
	margin-bottom: 10px;
}
.about-right h6 {
	color: #f90505;
	font-size: 20px;
	margin-bottom: 25px;
}
.about-right p {
	line-height: 35px;
	font-size: 16px;
	margin-bottom: 50px;
	letter-spacing: 0.2px;
	word-spacing: 0.5px;
}
.about-right p span {
	color: black;
	font-weight: 600;
	border-bottom: 3px solid red;
}
.about-right table tr td {
	padding: 10px;
}
@media screen and (max-width:768px) {
	.about-right table tr td,
	.about-right table tr th {
		padding: 10px 0px;
		font-size: 13px;
	}
}
@media screen and (max-width:500px) {
	.about-right table tr td,
	.about-right table tr th {
		padding: 10px;
		font-size: 16px;
	}
}
.skill {
    
    margin: 20px auto;
    color: black;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25) , 0 10px 10px rgba(0, 0, 0, 0.22);
    
}

.bar {
    background: #EAF4FC;
    display: block;
    height: 20px;
    border: 0.2px solid black;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 18px;
    float: left;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,193,233,1) 100%);
}
.qul-ful{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F1F9EC;
}
.qul {
    background-color: #ECF3F9;
}

.html5 {
    width: 80%;
    animation: html5 3s;
}
.CSS3 {
    width: 75%;
    animation: CSS3 3s;
}

.JAVASCRIPT {
    width: 50%;
    animation: JAVASCRIPT 3s;
}

.BOOTSTRAP5 {
    width: 70%;
    animation: BOOTSTRAP5 3s;
}
.PHP {
    width: 70%;
    animation: html5 3s;
}
.MY_SQL {
    width: 65%;
    animation: html5 3s;
}
.LARAVEL {
    width: 50%;
    animation: html5 3s;
}
.PYTHON {
    width: 60%;
    animation: html5 3s;
}


.C {
    width: 60%;
    animation: C 3s;
}

@keyframes html5 {
    0%{
        width: 0%;
    }    
    100%{
        width: 80%;
    }
}
@keyframes CSS3 {
    0%{
        width: 0%;
    }    
    100%{
        width: 75%;
    }
}
@keyframes JAVASCRIPT {
    0%{
        width: 0%;
    }    
    100%{
        width: 50%;
    }
}
@keyframes BOOTSTRAP5 {
    0%{
        width: 0%;
    }    
    100%{
        width: 70%;
    }
}
@keyframes PHP {
    0%{
        width: 0%;
    }    
    100%{
        width: 70%;
    }
}
@keyframes MY_SQL {
    0%{
        width: 0%;
    }    
    100%{
        width: 65%;
    }
}
@keyframes LARAVEL {
    0%{
        width: 0%;
    }    
    100%{
        width: 50%;
    }
}
@keyframes PYTHON{
    0%{
        width: 0%;
    }    
    100%{
        width: 60%;
    }
}
@keyframes C {
    0%{
        width: 0%;
    }    
    100%{
        width: 60%;
    }
}

h5 {
    font-size: 1rem;
}

.service-section {
	width: 100%;
	border: none;
	background: white;
	box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
	padding: 55px 40px;
	text-align: center;
	margin-bottom: 30px;
	float: left;
}
.service-section img {
	height: 105px;
	margin-bottom: 15px;
	padding: 0px;
}
.service-section h6 {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 600;
	color: black;
}
.service-section p {
	line-height: 30px;
	font-size: 15px;
}
.service-border {
	text-align: center;
	justify-content: center;
	display: flex;
}
.service-border span {
	border: 1px solid red;
	width: 11%;
	margin-bottom: 20px;
}
@media screen and (max-width:768px) {
	.service-section {
		padding: 20px 20px;
	}
}
@media screen and (max-width:500px) {
	.service-section {
		padding: 20px 20px;
	}
}
/*********FOOTER SECTION FOOTER SECTION FOOTER SECTION *********/
.footer {
	background: black;
	padding: 20px 0px 5px 0px;
}
.footer p {
	color: white;
	text-align: right;
}
.footer-section i {
	font-size: 30px;
	margin-right: 10px;
    padding-left: 50px;
	color: white;
}
.footer-section i:hover{
    text-shadow: 2px 2px 2px white,2px 2px 2px white;
    color: blue;
}
@media screen and (max-width:500px) {
	.footer-section {
		text-align: center !important;
	}
	.footer p {
		text-align: center;
	}
}
